<script id="tmpl-tweet" type="text/html">
  <div class="tweet {{if isForward}}forward{{else if isOrigin}}origin{{else}}stream-item{{/if}}"
      tweet-id="{{id}}" author-id="{{authorId}}">
    <a class="avatar" href="{{webroot()}}/private/{{authorId}}" uid="{{authorId}}"><img src="{{avatar}}"/></a>
    <div class="tweet-body">
      <a class="author-name" href="{{webroot()}}/private/{{authorId}}" uid="{{authorId}}">{{authorName}}</a>
      <p class="tweet-content">
        {{#content | replaceMention}}
        {{if midForwards}}
          {{each midForwards.msgs as msg i}}
          {{#msg | replaceMention}}
          {{/each}}
        {{/if}}
      </p>
      {{if origin}}
        {{include 'tmpl-tweet' asOrigin(origin)}}
      {{/if}}
      <div>
        <a class="time span" href="{{webroot()}}/tweet/{{id}}">{{time | showTime}}</a>
        <span class="tags span">
            {{if tags = origin ? origin.tags : tags}}{{/if}}
          {{each tags as tag i}}
            {{include 'tmpl-tag-label' tag}}
          {{/each}}
        </span>
        <span class="span pull-right">
          <a class="forward" href="javascript:;">转发{{forwardCount | showCount}}</a>
          <a class="comment" href="javascript:;">评论{{commentCount | showCount}}</a>
        </span>
      </div>
    </div>
  </div>
</script>
<script id="tmpl-combine" type="text/html">
  <div class="combine stream-item">
  {{each forwards as forward i}}
    {{include 'tmpl-tweet' asForward(forward)}}
  {{/each}}

  {{include 'tmpl-tweet' asOrigin(origin)}}
  </div>
</script>
<script id="tmpl-tweet-comment" type="text/html">
  <div class="tweet-comment">
    <a class="avatar pull-left" href="{{webroot()}}/private/{{authorId}}" style="margin-right: 10px">
      <img src="{{avatar}}" style="width: 30px; height: 30px"/>
    </a>
    <div>
      <a class="author-name" href="{{webroot()}} /private/{{authorId}}">{{authorName}}</a>: <span>{{content}}</span>
      <div>
        <span class="time" style="font-size: 0.8em">{{time | showTime}}</span>
        <a class="reply pull-right" href="javascript:;">回复</a>
      </div>
    </div>
  </div>
</script>