<script id="tmpl-user-card" type="text/html">
  <div class="user-card">
    <a class="avatar" href="/private/{{id}}"><img src="{{avatar}}"/></a>
    <div class="name-intro">
      <p class="name">{{name}}</p>
      <p class="intro">{{intro}}</p>
      <div>
        <a href="/followings/{{id}}">关注</a>: *
        <a href="/followers/{{id}}">粉丝</a>: {{followerCount}}
        博客: {{blogCount}}
        微博: {{tweetCount}}
      </div>
    </div>
    <button class="follow"></button>
  </div>
</script>
<script id="tmpl-user-label" type="text/html">
  <div class="user-label">
    <a class="avatar"><img /></a>
    <a class="name"></a>
  </div>
</script>