<script id="tmpl-user-card" type="text/html">
  <div class="user-card">
    <a class="avatar" {{id | userLinkAttrs}}><img src="{{avatar}}"/></a>
    <div class="name-intro">
      <p class="name">{{name}}</p>
      <p class="intro">{{intro}}</p>
    </div>
    <div style="float:left">
      <a href="/followings/{{id}}">关注</a>: *
      <a href="/followers/{{id}}">粉丝</a>: {{followerCount}}
      博客: {{blogCount}}
      微博: {{tweetCount}}
    </div>
    <button class="follow"></button>
  </div>
</script>
<script id="tmpl-user-label" type="text/html">
  <div class="user-label" data-id="{{id}}">
    <a class="avatar" {{id | userLinkAttrs}} ><img src="{{avatar}}"/></a>
    <a class="name" {{id | userLinkAttrs}}>{{name}}</a>
  </div>
</script>