.blog-preview {
  margin: 0 0 5px 0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  background: #fafafa;
  word-wrap: break-word;
  word-break: break-all;
}

.blog-preview .title {
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #256DAB;
}

@media (max-width: 768px) {
  .blog-preview .title, .blog .title {
    text-align: center;
  }
}

.blog {
  font-size: 15px;
  padding: 15px;
}