.data-holder, .tmpl{
	display:none;
}

html, body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
  width: 100%;
  height: 100%;
}
.background-silver{
    background: #e5e5e5;
}
body, .background-dark{
   background: radial-gradient(farthest-side ellipse at 100% 0, rgba(102,105,104,0.9),rgba(93,112,119,0.89),rgba(160,174,150,0.9));
}

body>.container{
    margin-top: 50px;
}

.side{
  width: 220px;
  float: left;
}
.main{
  width: 660px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
.footer{
  clear: both;
}

.followings, .followers{
	color: green;
}

.rich-bg{
  background: #e9eaed;
}

.human-time{
  color: gray;
}

.summary{
  margin-bottom: 10px;
}
.tags{
  margin: 5px;
}

.topic-preview h1, .blog-preview h1{
  font-size: 26px;
}
.topic-preview h2, .blog-preview h2{
  font-size: 22px;
}
.topic-preview h3, .blog-preview h3{
  font-size: 18px;
}
.topic-preview h4, .blog-preview h4{
  font-size: 14px;
}
.topic-preview blockquote, .blog-preview blockquote{
  font-size: 14px;
}