.msg{
  width: 200px;
  margin-top: 10px;
}
.from-other{
  margin-right: 150px;
}
.from-self{
  margin-left: 150px;
}

.msg-body{
  padding: 5px;
  border-radius: 5px;
}
.from-other .msg-body{
  background: lightblue;
}
.from-self .msg-body{
  background: #A7E8A7;
}

.msg-from{
  padding: 2px;
}
.from-other .msg-from{
  float: left;
  margin-right: 5px;
}
.from-self .msg-from{
  float: right;
  margin-left: 5px;
}
