#navbar{
  font-size: 15px;
  background-size: 44px 44px;
  padding: 0 20px 0 20px;

  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  transform: translate3d(0, 0, 0);
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #222;
  top: 0;
  border-radius: 0;
}

#navbar-content{
  max-width: 1200px;
  margin: 0 auto 0 auto;
}

.nav>li>a, .nav>li>.dropdown, #search {
  padding: 10px 5px;
  position: relative; display: block;
}

.navbar-header {
  padding: 10px 5px;
}

.navbar-toggle {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-brand{
  color: deepskyblue;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
}
.nav-brand:hover{
  color: lightskyblue;
  text-decoration: none;
}

.nav-links {
  height: 100%;
  padding-top: 4px;
}

.nav-links a, #nav-tags{
  color: #999;
  text-decoration: none;
  margin-right: 5px;
}

.nav-links a:hover, #nav-tags:hover{
  color: #fff;
  background-color: transparent;
}

#nav-tags{
  position: relative;
}

#search {
  padding: 6px 0;
}

#search input[name=q]{
  width: 226px;
  height: 26px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

#search button{
  position: relative;
  right: 27px;
  top: 2px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 0;
  padding: 0;
}

#userDropdownMenu{
  border: 1px solid transparent;
  border-radius: 2px;
}

.create-tag{
  width: 100%;
}

#new-tag-dialog{
  z-index: 2000;
}

#new-tag-dialog .modal-dialog{
  width: 300px;
  min-height: 100px;
  border-radius: 10px;
}
