.stream{
  max-width: 620px;
}
.newfeed, .oldfeed{
  margin-left: 260px;
}
.stream-item{
  max-width: 600px;
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  background: #fff;
}

.tweet{
  display: table;
  padding: 5px;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
.tweet:after{
  display: table;
  content: " ";
  clear: both;
}

.tweet-body{
  margin-left: 56px;
}
.tweet-content .view-img{
  display: block;
  max-width: 200px;
  max-height: 200px;
  cursor: zoom-in;
}
.tweet-content .view-img-large{
  max-width: 500px;
  max-height: 500px;
  cursor: zoom-out;
}
.tweet-ops a{
  color: gray;
}

.tweet-ops .delete-btn{
  margin: 0 10px;
}

.t-forward{
  margin-left: 0;
}
.t-origin{
  padding: 3px;
  background: #f0f0f0;
  border-radius: 10px;
  margin-left: 20px;
  max-width: 95%;
}

.tweet-avatar{
  display: block;
  float: left;
  padding-top: 5px;
  margin-left: -56px;
  margin-right: 5px;
}
.tweet-avatar img{
  width: 50px;
  height: 50px;
}

.t-origin .tweet-body {
  margin-left: 50px;
}
.t-origin .tweet-avatar {
  margin-left: -43px;
}
.t-origin .tweet-avatar img{
  width: 25px;
  height: 25px;
}
.tweet .author-name{
  font-weight: bold;
  color: black;
}

#forward-dialog .modal-dialog{
  width: 450px;
  min-height: 100px;
  border-radius: 10px;
}

#forward-dialog .mf-removed{
  display: none;
}
#forward-dialog textarea{
  width: 400px;
  min-height: 100px;
}
