.stream{
  width: 620px;
}
.newfeed, .oldfeed{
  margin-left: 260px;
}
.stream-item{
  width: 600px;
  background: #f0f0f0;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.tweet{
  display: table;
}
.tweet:after{
  display: table;
  content: " ";
  clear: both;
}
.tweet-body{
  width: 530px;
  float: left;
}
.tweet-content .view-img{
  display: block;
  max-width: 200px;
  max-height: 200px;
  cursor: zoom-in;
}
.tweet-content .view-large{
  max-width: 500px;
  max-height: 500px;
  cursor: zoom-out;
}
.tweet-ops a{
  color: gray;
}

.stream-item .t-origin{
  padding: 5px;
  background: #e5e5e5;
  border-radius: 10px;
}
.stream-item.combine .t-forward{
  margin-left: 0;
}
.stream-item.combine .t-origin{
  margin-left: 50px;
}
.stream-item .avatar{
  display: block;
  float: left;
  padding-top: 5px;
}
.stream-item .author-name{
  font-weight: bold;
  color: black;
}
.stream-item .tags a{
  margin-left: 0.5em;
}

#forward-dialog .modal-dialog{
  width: 450px;
  min-height: 100px;
  border-radius: 10px;
}

#forward-dialog .mf-removed{
  display: none;
}
#forward-dialog textarea{
  width: 400px;
  min-height: 100px;
}
