.topic-list{
  margin-top: 15px;
  padding: 5px;
  background: #e0e0e0;
}

.btn-write-topic{
  margin: 10px;
}

.topic-preview{
  padding: 5px;
  background: #e0e0e0;
  border-bottom: 1px solid #aaa;
}

.topic-preview .title{
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #256DAB;
}

.topic-preview .reply-count{
  color: #333;
}
.topic-preview .reply-count:visited{
  color: #999;
}

.topic{
  padding: 5px;
  background: #e0e0e0;
  border-bottom: 1px solid #aaa;
  margin-bottom: 1em;
}

.topic-content{
  padding: 10px;
}

.replies{
  margin-top: 1em;
  background: #e0e0e0;
}

.reply{
  padding: 5px;
  border-bottom: 1px solid #aaa;
}

.reply_input{
  width: 20em;
  border-radius: 5px;
  border: 0;
  resize: none;
  outline: none;
  padding: 5px;
}