.topic-list{
  padding: 5px;
  background: #e9e9e9;
}

.topic-preview{
  padding: 5px;
  background: #e9e9e9;
  border-bottom: 1px solid #aaa;
}

.topic-preview .title{
  display: block;
  font-weight: bold;
  font-size: 16px;
  color: #256DAB;
}

.topic-preview .reply-count{
  color: #333;
}
.topic-preview .reply-count:visited{
  color: #999;
}

.topic{
  font-size: 15px;
  padding: 15px;
  background: #eee;
}

.replies{
  margin-top: 1em;
  background: #eee;
}

.reply{
  font-size: 15px;
  padding: 5px;
  border-bottom: 1px solid #aaa;
}

.reply_input{
  width: 20em;
  border-radius: 5px;
  border: 0;
  resize: none;
  outline: none;
  padding: 5px;
}