.avatar img{
  border-radius: 10%;
}

.user-label .name, .user-card .name{
  color: black;
}

.user-card .avatar{
  margin-left: 2px;
  margin-right: 5px;
}
.user-card .avatar img{
  width: 50px;
  height: 50px;
}
.user-label .avatar img{
  width: 25px;
  height: 25px;
}

.user-card{
  background: #e5e5e5;
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
  width: 380px;
  min-height: 90px;
  display: inline-block;
}
.user-card .name{
  font-weight: bold;
  color: black;
}
.user-card .avatar, .user-card .info-part{
  float: left;
}
.user-card:after{
  display: table;
  content: " ";
  clear: both;
}

.user-card .info-part{
  width: 200px;
}
.user-card .follow{
  width: 60px;
  padding: 6px 3px;
  text-align: center;
}

#follow-dialog .modal-dialog{
  max-width: 400px;
  min-height: 100px;
  border-radius: 10px;
}