.data-holder{
	display:none;
}
body{
    background: #e5e5e5;
}
body>.container{
    margin-top: 50px;
}

.mybrand{
    color: #000;
    font-weight:bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
}
.search{
    margin: 5px 0 -5px 0;
}
.side{
  width: 180px;
}
.main{
  width: 640px;
}

.avatar{
  width: 60px;
}
.avatar img{
  width: 50px;
  height: 50px;
}

.user-card .name{
  font-weight: bold;
  color: black;
}

.followings, .followers{
	color: green;
}
.background-dark{
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4=");
  background-color: rgba(102,105,104,0.9);
  background: radial-gradient(farthest-side ellipse at 10% 0, rgba(102,105,104,0.9),rgba(93,112,119,0.89),rgba(160,174,150,0.9)),url("../img/bgnoise_lg_dark.png");
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(102,105,104,0.9), rgba(93,112,119,0.89), rgba(160,174,150,0.9)),url("../img/bgnoise_lg_dark.png");
  background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(102,105,104,0.9), rgba(93,112,119,0.89), rgba(160,174,150,0.9)),url("../img/bgnoise_lg_dark.png");
}
}