.slist{
  width: 620px;
}
.newfeed, .oldfeed{
  margin-left: 320px;
}
.stream-item{
  width: 600px;
	background: #f0f0f0;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}
.tweet{
  display: table;
}
.tweet:after{
  display: table;
  content: " ";
  clear: both;
}
.tweet-body{
	width: 520px;
  float: left;
}
.origin .tweet-body{
	width: 505px;
}
.stream-item .origin{
  margin-left: 20px;
	background: #e0e0e0;
	border: solid 1px #e5e5e5;
	border-radius: 10px;
}
.stream-item .combine{
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
}
.stream-item .combine .tweet.forward{
	margin-left: 0;
}
.stream-item .combine .tweet.origin{
	margin-left: 80px;
}
.stream-item .avatar{
	display: block;
  float: left;
	padding-top: 5px;
}
.stream-item .author-name{
	font-weight: bold;
	color: black;
}
.stream-item .tags a{
	margin-left: 0.5em;
}
.comment-dialog textarea{
  overflow: hidden;
  resize: none;
  width: 400px;
  height: 1.5em;
}