.slist{
  width: 620px;
}
.newfeed, .oldfeed{
  margin-left: 260px;
}
.stream-item{
  width: 600px;
	background: #f0f0f0;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}
.tweet{
  display: table;
}
.tweet:after{
  display: table;
  content: " ";
  clear: both;
}
.tweet-body{
	width: 530px;
  float: left;
}
.t-origin .tweet-body{
	width: 500px;
}
.tweet-content img{
	display: block;
	max-width: 200px;
	max-height: 200px;
}
.stream-item .t-origin{
  margin-left: 10px;
  padding: 5px;
	background: #e0e0e0;
	border: solid 1px #e5e5e5;
	border-radius: 10px;
}
.stream-item .combine{
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #e5e5e5;
}
.stream-item .combine .t-forward{
	margin-left: 0;
}
.stream-item .combine .t-origin{
	margin-left: 80px;
}
.stream-item .avatar{
	display: block;
  float: left;
	padding-top: 5px;
}
.stream-item .author-name{
	font-weight: bold;
	color: black;
}
.stream-item .tags a{
	margin-left: 0.5em;
}

#forward-dialog .modal-dialog{
	width: 450px;
	min-height: 100px;
	border-radius: 10px;
}
#forward-dialog *[mf-id]{
  background-color: lightgrey;
  padding: 2px;
}
#forward-dialog .mf-removed{
	display: none;
}
#forward-dialog textarea{
	width: 400px;
	min-height: 100px;
}
.comment-dialog textarea{
  overflow: hidden;
  resize: none;
  width: 400px;
  height: 1.5em;
}